<div class="container p-gutter">
    <div class="row">
        <div class="col-md-12">
            <p-tabView>
                <p-tabPanel header="Agency data">
                   <vex-data></vex-data>
                </p-tabPanel>
                <p-tabPanel header="Domains">
                    <vex-domains></vex-domains>
                </p-tabPanel>
                <p-tabPanel header="Brand">
                   <vex-brand></vex-brand>
                </p-tabPanel>
                <p-tabPanel header="Credit/Deposit">
                    <vex-credit-deposit></vex-credit-deposit>
                </p-tabPanel>
                <p-tabPanel header="Over commision">
                    <vex-over-commision></vex-over-commision>
                </p-tabPanel>       
            </p-tabView>
        </div>
    </div>
</div>